* {
    box-sizing: border-box !important;
}


body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


#background-gradient {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg,
    rgba(2, 0, 36, 1) 17%,
    rgba(9, 9, 121, 1) 58%,
    rgba(0, 212, 255, 1) 100%
    );
    padding: 50px 150px;
    margin: 0;
    overflow: hidden;
}


#wrapper {
    width: 645px;
    margin: auto;
    position: relative;
    transition-duration: 1s;
}


@media screen and (max-width: 895px) {
    #wrapper {
        width: 595px !important;
    }
}


@media screen and (max-width: 800px) {
    #wrapper {
        scale: 0.7;
        transform-origin: 0 0;
    }
}

@media screen and (max-width: 500px) {
    #wrapper {
        position: absolute;
        width: 100% !important;
        scale: 1;
    }

    #background-gradient {
        padding: 0 !important;
        margin: 0 !important;
    }

    #title {
        padding: 10px !important;
    }

    #name-input {
        height: 110px !important;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between !important;
    }

    #name-input input {
        width: 100% !important;
    }

    #mainTodoControls {
        margin-top: 10px !important;
    }
}


#title {
    height: 100px;
}


#title h2 {
    text-align: left;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
}

#todoWrapper {
    max-height: 690px;
    width: 100%;
    position: relative;
    margin: auto;
    animation: movingGradient 10s ease infinite;
    background: linear-gradient(-45deg,
    rgba(153, 0, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
    );
    background-size: 400% 400%;
    border-radius: 15px;
    padding: 10px;
    transition-duration: 0.5s;
    box-shadow: 0 3px 12px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}


@keyframes movingGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}



#todoListSelection {
    max-height: 600px;
    width: 100%;
    position: relative;
    padding: 30px;
    background-color: #000;
}

#todoListSelection > h2 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 35px;
    padding-left: 20px;
}


.listBtn {
    height: 50px;
    width: 100%;
    background-color: #000;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: left;
    padding-left: 33px;
    margin-top: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}


.listBtn .listText {
    height: 100%;
    width: 60%;
    overflow: hidden;
    padding: 4px;
}


.listBtn .listText > h2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding-top: 8px;
}


.listBtn .listText > h2:focus {
    outline: none;
}


.listBtn:hover {
    .listControls {
        display: flex;
        animation: fade-in 0.3s;
    }
}


.listControls {
    display: none;
    width: 140px;
    height: 100%;
    padding: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    transition-duration: 0.3s;
}


.listControlBtn {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 100;
    color: #fff;
    text-align: center;
    cursor: pointer;
}


.list-delete {
    background-color: rgb(154, 0, 0);
}


.list-rename {
    padding-top: 8px;
    font-size: 24px;
    background-color: rgb(0, 104, 166);
}


.list-go {
    background-color: rgb(111, 43, 217);
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.listControlBtn img {
    height: 100%;
    width: 100%;
    filter: invert(1);
}



#todoListHolder, .createListHolder {
    max-height: 100%;
    width: 100%;
    background: transparent;
    padding: 20px;
}


#createList {
    height: 50px;
    width: 150px;
    position: relative;
    left: 0;
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#createListText {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    float: left;
    margin: 13px;
}


#createListPlusSign {
    color: rgb(0, 255, 0);
    position: relative;
    float: right;
    margin: 10px;
}


#todoEntryWrapper {
    max-height: 1000px;
    width: 100%;
    background-color: #000;
    border-radius: 15px;
    padding: 15px;
    transition-duration: 0.5s;
    overflow: hidden;
    display: none;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


#todoEntries {
    max-height: 480px;
    position: relative;
    overflow-y: scroll;
}



#scrollDown {
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 10px;
    display: none;
}



#name-input {
    height: 80px;
    width: 100%;
    position: relative;
    top: 0;
    padding: 20px;
}


#name-input input {
    height: 40px;
    width: 60%;
    float: left;
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 15px;
    border: 1px solid rgba(50, 50, 50, 0.5);
    padding-left: 20px;
    color: #fff;
    overflow-Y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#name-input input:focus {
    outline: none;
}


#mainTodoControls {
    float: right;
    position: relative;
    height: 40px;
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todoControl {
    background-color: rgba(20, 20, 20, 0.5);
    height: 100%;
    aspect-ratio: 1 / 1;
    color: #fff;
    border: 1px solid rgba(50, 50, 50, 0.5);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
}


.todoControl > img {
    height: 55%;
    width: 55%;
    background-size: 100% 100%;
    position: relative;
    filter: invert(1);
    margin: 8px auto;
}


.goBack {
    padding-top: 5px;
}


.entryBtn {
    padding-top: 6px
}



.todoEntryContainer {
    height: 80px;
    width: 93%;
    background: transparent;
    position: relative;
    margin: auto;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.todoEntryContainer:hover {
    .todoControls {
        animation: fade-in 0.3s;
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }
}


.todoInfo {
    height: 100%;
    width: 60%;
    float: left;
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.todoText.todoCompleteText {
    color: rgb(0, 255, 0);
    text-decoration: line-through;
}


.todoText {
    font-family: open sans, sans-serif;
    font-style: italic;
    font-weight: 100;
    margin-left: 30px;
    padding-left: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-Y: scroll;
}

.todoText:focus {
    outline: none;
}

.todoText.todoIncompleteText {
    color: #fff;
}


.todoNumber {
    color: #fff;
    font-family: open sans, sans-serif;
}

.todoControls {
    height: 100%;
    width: 200px;
    float: right;
    display: none;
    padding-top: 18px;
    position: absolute;
    right: 0;
    transform: translateX(0%);
}

.rearrangeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.rearrangeContainer > div {
    height: 60%;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 7px;
    background: transparent;
    cursor: pointer;
}

.todoEntryBtns {
    display: flex;
    flex-direction: row;
}

.todoEntryBtns > div {
    height: 60%;
    aspect-ratio: 1 / 1;
    border: 5px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
    font-family: open sans, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #fff;
}


.todoEntryBtns > div > img {
    height: 100%;
    width: 100%;
    filter: invert(1);
}


.delete {
    background-color: rgb(161, 0, 0);
    transition-duration: 0.5s;
}


.rename {
    background-color: rgba(39, 146, 255, 0.7);
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    padding-top: 4px;
}


.incomplete {
    background-color: rgb(255, 0, 0);
    padding-top: 4px;
    transition-duration: 0.5s;
}


.complete {
    background-color: rgb(0, 150, 0);
    transition-duration: 0.5s;
    padding-top: 4px;
}


@keyframes complete {
    from {
        color: rgb(255, 255, 255);
    }
    to {
        color: rgb(0, 255, 0);
    }
}

@keyframes incomplete {
    from {
        color: rgb(0, 255, 0);
    }
    to {
        color: rgb(255, 255, 255);
    }
}